.sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 74px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(239, 239, 239) ;
    z-index: 200;
}
.i1 img{
    height: 24px;
}
.i1 {
    
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.i1 div{
    font-family: Roboto, Arial;
    font-size: 10px;
}
.i1:hover {
    background-color: rgb(218, 216, 216);
}